.form {
  margin-top: 3rem;
  max-width: 33.31rem;
  width: 100%;

  
}
 
fieldset {
border: none;
display: grid;
gap: 1.5rem;
}


.name-child {
  display: flex;
  flex-direction: column;

  

}
legend {
  margin-bottom: 1.5rem;
  font: 600 1rem/1.25 "Poppins", serif;
  color: var(--text-primary);
}

label {
  font: 400 0.87rem/1.5 "Poppins", serif;
  color: var(--text-secondary);
}


input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);
  padding: 0.75rem 1rem;
}
input:focus,
textarea:focus,
select:focus,
input[type="date"]:focus-within {
 outline: .25rem solid var(--surface-secondary);
 border: .125rem solid var(--stroke-highlight);
 outline-offset: .1px;
}


.birth-file {
  & input {
    appearance: none;
    
    
  }
}

input[type="date"] {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before{
    content: "";
    position: absolute;
    background: url(../assets/icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    top: 50%;
    transform: translateY(-50%);
  }

}

select {
  background: url(../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

.dropzone {
  border: 1px dashed var(--stroke-default);
  border-radius: .25rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  text-align: center;
  padding: 1.75rem 1rem;

  position: relative;
  
 
  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    
  }
  
  &:hover, &:has(input:focus) {
    border-width: 2px;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);
    
    
    & p {
      color: var(--text-tertiary);
    }
    & svg path {
      stroke: var(--stroke-highlight);
    }
    }


  }

  .adult-info {
    margin-top: 3rem;
    display: grid;
    
    & p {
      font: 400 0.87rem/1.5 "Poppins", serif;
      color: var(--text-tertiary);
      margin-top: .5rem;
    }
    & label {
      margin-top: 1.5rem;
    }
  }

  .adress {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: 24rem 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
    & .input:has([disabled]) {
      opacity: .5;

    }
    
  }
  .adress-info {
    display: grid;
    
    & legend {
      margin-top: 3rem;
    }
    
    
  }

  .error {
    display: flex;
    margin-top: .5rem;
    align-items: center;
    gap: .25rem;
    color: var(--semantic-error);
    font: 400 0.87rem/1.4 "Poppins", serif;
  }


label + .radio {
  margin-top: 1rem;
}

.radio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  padding: 2rem .5rem .5rem;
  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
  .radioimg {
    background-image: url(../assets/icons/radio.svg);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
  }
  &:hover, &:focus-within {
    border: 1px solid var(--stroke-highlight);
    
    & .radioimg {
      background-image: url(../assets/icons/radio2.svg);
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);
    & .radioimg {
      background-image: url(../assets/icons/radio3.svg);
    }
  }
  
}

.matricula {
 margin-top: 3rem;
}

.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;

  & strong {
    font-weight: 500;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper {
  position: relative;
  
  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }
  .checkboximg {
    flex: 0 0 1.4rem;
    height: 1.4rem;
    background-image: url(../assets/icons/checkbox1.svg);
  }
  &:hover, &:focus-within {
    .checkboximg {
      background-image: url(../assets/icons/checkbox2.svg);
    }
  }
  &:has(:checked) {
    .checkboximg {
      background-image: url(../assets/icons/checkbox3.svg);
    }
  }
}
  


